body{
	margin: 0;
	
}






button[type="submit"]{
	width: 100%;
}


.slideshow-container{

position: relative;
width: 100%;
height: 100vh;
overflow:hidden;

}


/* BlogPost-cards */


#blogPost{


	box-shadow: none;
}


/* Responsive-footer-section */


#Responsive-footer-section {

	display: none;
}


.mySlides{
	/* object-fit:cover; */
	top: 0;
	left: 0;
	display:none;
	width:100%;
	margin: 0px;
	height: 400px;
	
	}


.fa-caret-down{

	color: darkblue;
}

h5{
	text-align: left;

	text-transform: uppercase;
}


iframe{

	border:none;
	width:100%;
	height:480px;
	margin: 0px;
	
}



/* enroll-button */


a#drop-link:hover{

	background: darkblue;
}


/* Heading */

h1{
	color:white;
	font-family:Arial;
	margin: 10px;
	font-weight: bold;
	text-transform:uppercase;
	text-align:center;
	font-size:24px;
}


p#news{
	width:auto;
	font-size: 15px;
	text-align: justify;
}


#apply{

	margin:20px;
	background-color: #FFF;
	color:navy;
	padding: 19px;
	font-weight: bold;
}


/*  */


#scholarship{
	background-color:navy;
	background-image: url('../images/BACKGROUND IMAGE 2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	
	background-size: cover;
	height: 450px;
	padding-bottom: 50px;
}


img:hover{
	
}

button#menu-button{
	
	color: darkblue;
}


#navigation{
	
	display: none;
}


.w3-bar-item{

	font-size: 15px;
	color: darkblue;
}

#menu{

	background-color: #FFF;
	float: left;
	width: 50px;
	display: block;
	font-size: medium;
}



h5{
	text-align:center;
	color: darkblue;
	font-weight: bold;
	
}



/* faculty */


#faculty{
	
	background-color: #FFF;
	background-image:url('../images/BACKGROUND IMAGE 2.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	/* background-color: darkblue; */
	height:450px;
	padding-top: 60px;
	padding-bottom: 50px;
}



/* #logo{
	
	width: 100px;
	height: 100px;
} */


#middle{
	
	float:left;
	height:250px;
	width: 520px;
	margin:0px;
}


.fa-envelope,.fa-whatsapp,.fa-phone{
	   color: darkblue;
}



/* sub text */

sub{

	font-family:Arial;
	font-size:large;
	text-transform: capitalize;
	text-align: center;
	color: darkblue;
	
}



span#hidden-text{
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
}



/* logo */

img{

	margin: 10px;
	width: 80px;
	height: 80px;
}


/* .w3-image{

	width:350px;
	margin: 0;
} */


/* unorder-list */

ul{


	text-align:center;
	font-weight: bold;
	font-size: xx-large;
	list-style: none;
}



/* list */

li{
	display: inline;
	
}

/*  */


a{
	color:darkblue;
	font-family:Arial;
	font-size:x-large;
	text-transform:uppercase;
	font-weight: bold;
	padding: 5px 5px 5px;
	text-decoration: none;
}


a#nav{
	/* color:darkblue; */
	font-family:Arial;
	font-size:x-large;
	text-transform:uppercase;
	font-weight: bold;
	padding: 5px 5px 5px;
	text-decoration: none;
}


#img-card{

	background-color: white;
	width:50%;
	box-shadow: none;
	height:373px;
	float: right;
	
}


p{
	color: darkblue;
}


img#slide{
	width:100%;
	height: 100%;
	margin:0;
}




#academic{
/* 
	background-image: url('../images/bg-slider.jpeg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover; */
	padding-bottom: 50px;
}



#courses{

	height: 300px;
	/* border-right: 1px dotted darkblue; */
	border-left: 1px dotted darkblue;
	
}


#enroll{

	margin-left: 50px;
	text-transform:capitalize;
}




a.eportal{
	color:white;
	padding:10px;
	font-family:Arial;
	font-size:large;
	text-transform:lowercase;
	padding: 5px 5px 5px;
	text-decoration: none;
}


/* nav-bar */

#nav{

	background-color:white;
	
}

#banner{

	width:auto;
	margin:0;
	height:50%;
}


.mySlides{
	
	height: 100%;
}

/* hero-image */

#hero-image{
	
	background-image:url('../images/bluecrest-liberia-banner-3.jpeg');
	background-size:cover;
	height:450px;
	padding-top: 100px;
	background-position:center;
	background-repeat: no-repeat;
	margin:0;
}

header{

	background-color: black;
	margin:0px;
	padding: 30px;
}


/* h2 */

h2.w3-text-white{
	padding: 10px;
	font-family:Arial;
	font-size:40px;
	font-weight: bold;
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
}


li#social-media{

	display: none;
}


#para{

	font-size: 15px;
	text-align: justify;
	
}



/* courses */


#Courses{

	background-image: url('../images/4_business.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}



@media(max-width: 600px){

	table{
		color: darkblue;
		width:300px;
		font-family: Arial;
	}
}





table{
	height: 100px;
	margin-left:20px;
}

td{
	
	width:50px;
}

ul#footer-links{

	text-align:left;
	float: left;
	color: darkblue;
	
}


.fa-map-marker{

	color: darkblue;
}

#about-image{

	box-shadow:none;
	width:auto;
	padding-bottom: 8px;

}


#p1{
	width:480px;
	text-transform: capitalize;
	
	
}


p{
	text-transform: capitalize;
	
}

#about{
	background-color: #FFF;
	background-image:url('../images/BACKGROUND IMAGE 2.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	/* background-color: darkblue; */
	height:200px;
	padding-top: 60px;
	padding-bottom: 50px;
}


#admission-entry{

	width: 400px;
	padding-bottom: 50px;
	float: right;
	margin-right: 20px;
	/* box-shadow: 0px 2px 0px whitesmoke; */

}

h3{

	text-transform: capitalize;
	text-align: left;

}

span{
	/* background:lightgreen; */
	color: darkblue;
	font-family:Arial;
	font-weight:bold;
}

a.icon{
	text-decoration: none;
	color: inherit;
	
}


#footer-column{

	padding-top: 20px;
	width: 250%;
}


button#download-admin{

	width:22%;
	text-align: left;
	height: 60px;
	margin: 50px;
}


buton[type="button"]{

	height: 60px;
	margin-left: 80px;
}


ul#nav-links{

	/* padding: 10px; */
}



/* social media icons */


.fa-facebook{
	
	color:white;
	background-color:black;
	padding: 5px 10px 5px;
}

.fa-whatsapp{
	font-size: large;
	padding: 5px 10px 5px;
}

.fa-home{
	
	color: white;
	font-size: large;
}


.fa-phone{
	
	color:white;
	font-size: large;
}


.fa-envelope{
	
	color: white;
	font-size: large;
}

.fa-instagram{
	font-size: large;
	padding: 5px 10px 5px;
}

/*  */



#address{
	
}


span#paragraph{

	background-color:inherit;
	display:none;
	text-align:left;
	margin:0;
}



button#readmore{
	background-color: inherit;
	border:none;
	margin-left: 0px;
	text-transform:capitalize;
	display: none;
	font-family: sans-serif;
}

/*  */
#contact{

	background-color:navy;
	height: 100%;
}


input[type="text"]:focus{

	border:none;

}


/*  */

#hero-text{
	
	
	height:200px;
}


ul#contact-links{
	
	display: none;
}


select{
	
	border-radius:4px;
	width: 100%;
	height: 40px;
	border: none;
}



/*  */

.section{

	padding-top: 280px;
}



/*  */


#img{
	width:50%;
	height: 350px;
	float:right;
	 
}


/*  */



#admission{


	background-image: url('../images/bg_research_new.jpeg');
	background-size: cover;
	background-position:top;
	background-repeat:no-repeat;
	height: 150px;
	
}


#foot{

	height: 50px;
}



h4{
	
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

/*  */


#admission{

	height: 100%;
}



/*  */

#welcome{
	
	background-color:lightgreen;
	padding: 10px;
}



/*  */

#footer{

	padding: 20px;
}



@media(max-width: 600px){

	#text{
		display: none;
	}
}


.card{

	background-color:#000;
	width:auto;
}


#para{
	
	text-transform:none;
	width:60%;
	text-align: left;
	padding-bottom:38px;
}


#text{

	text-transform: uppercase;
	font-weight: bold;
}


#footer-section{

	height: 440px;
	width: 115%;
	
}


#enroll{
	
	display: none;
}