body {
  margin: 0;
  background-color: white;
}



#Courses {
  height: 300px;
  /* border-right: 1px dotted darkblue; */
  /* border-left: 1px dotted darkblue;
	 */
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fa-envelope,
.fa-whatsapp,
.fa-phone {
  color: darkblue;
}


    /* Remove underline text transformation */
    ul li a {
      text-decoration: none;
  }


#middle {
  float: left;
  height: 250px;
  width: 520px;
  margin: 0px;
}

.fa-map-marker {
  color: darkblue;
}

ul#footer-links {
  text-align: left;
  float: left;
  color: darkblue;
}

#footer-section {
  height: 440px;
  width: 115%;
}

#footer-column {
  padding-top: 20px;
  width: 250%;
}

.mySlides {
  /* object-fit:cover; */
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  margin: 0px;
  height: 400px;
}

.slide {
  object-fit: cover;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  margin: 0px;
  height: 400px;
}

/* courses */

#courses {
  background-image: url("../images/4_business.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-bottom: 50px;
  padding-top: 50px;
}

@media (max-width: 600px) {
}

li {
  display: inline;
  list-style: none;
}

.hero-image {
  height: 400px;
  /* padding-top:350px; */
  background-color: white;
}

.slide {
  display: none;
}

#academic {
  height: 350px;
  background-image: url("../images/bg_blue_lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  padding-bottom: 9%;
}

@media (max-width: 600px) {
  a,#btn {
    display: none;
  }
}

/* Admission */

#Admission {
  background-color: #fff;
  background-image: url("../images/BACKGROUND IMAGE 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: darkblue; */
  height: auto;
}

a#btn:hover {
  text-decoration: none;
}

a#btn {
  background-color: whitesmoke;
}
/* 
@media (max-width: 600px) {
  #apply {
    
    margin-left: 20px;
  }
}
 */
#main-section {
  background-image: url("../images/nce-result-bcc-ghana.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 50px;
}

#apply {
  text-transform: uppercase;
  background-color: darkblue;
  width: 200px;
}

@media (max-width: 600px) {
  .mySlides {
    height: 339px;
  }
}

@media (max-width: 600px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media (max-width: 600px) {
  button#left-btn,
  button#right-btn {
    display: none;
  }
}

@media (max-width: 600px) {
  iframe {
    display: none;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  p#paragraph,#apply-online {
    display: none;
  }
}

@media (max-width: 600px) {
  #admin {
    width: 400px;
  }
}

.slide {
  height: 380px;
}

@media (max-width: 600px) {
  #banner,
  .slide {
    height: 300px;
  }
}

#banner {
  height: auto;
}

iframe {
  border: none;
  width: 100%;
  height: 480px;
  margin: 0px;
}

#section {
  height: 250px;
}

@media (max-width: 600px) {
  #main-section {
    height: auto;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-family: Arial, serif;
  font-weight: normal;
font-size: 15px;
}

h2 {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #section {
    padding-bottom: 400px;
  }
}

@media (max-width: 600px) {
  p {
    width: 350px;
  }
}

button[type="submit"] {
  width: 100%;
}

select {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: none;
}

#admission-entry {
  width: 400px;
  padding-bottom: 50px;
}

span {
  text-decoration: none;
  padding-left: 420px;
}

a {
  font-family: Verdana;
  text-transform: uppercase;
  font-weight: bold;
  padding: 50px 50px 50px;
}

/* about */

@media(max-width:600px){

	#about{

		height: 450px;
	}
}



